:root {
  --texto: #242020;
  --texto-titulo: #08060d;
  --fundo: #ffffff;
  --borda: #e5e4e7;
  --fundo-codigo: #f4f3ec;
  --destaque: #aa3bff;
  --fundo-destaque: rgba(170, 59, 255, 0.1);
  --borda-destaque: rgba(170, 59, 255, 0.5);
  --fundo-social: rgba(244, 243, 236, 0.5);
  --sombra:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --fonte-sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --fonte-titulo: system-ui, 'Segoe UI', Roboto, sans-serif;
  --fonte-mono: ui-monospace, Consolas, monospace;

  --vermelho-primario: #470a0a;
  --amarelo-primario: #ffd166;
  --branco-primario: #ffffff;

  font: 18px/145% var(--fonte-sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--texto);
  background: var(--fundo);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --texto: #242020;
    --texto-titulo: #08060d;
    --fundo: #16171d;
    --borda: #2e303a;
    --fundo-codigo: #1f2028;
    --destaque: #c084fc;
    --fundo-destaque: rgba(192, 132, 252, 0.15);
    --borda-destaque: rgba(192, 132, 252, 0.5);
    --fundo-social: rgba(47, 48, 58, 0.5);
    --sombra:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
  background: var(--texto-titulo);
  color: var(--texto);
  /*overflow: hidden;*/
}

#root {
  width: 100%;
  max-width: 1126px;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--fonte-titulo);
  font-weight: 500;
  color: var(--texto-titulo);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.contador {
  font-family: var(--fonte-mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--texto-titulo);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--fundo-codigo);
}
