.cartao-direito {
  width: 300px;
  border-left: 1px solid #e6e6e6;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  background: linear-gradient(135deg, #e63232 10%, #642525 90%);
  background-size: cover;
}

.cartao-direito .logo-megusta-login{
  width: 55%;
  height: 60%;
  display: flex;
  position: relative;
  z-index: 10;
  box-shadow: 6px 6px 0px 0px var(--vermelho-primario);

}

.pizza {
  font-size: 48px;
}

.botao-enviar {
  width: 100%;
  padding: 12px 18px;
  border-radius: 14px;
  border: none;
  background: var(--vermelho-primario);
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  transition: transform 0.26s ease, box-shadow 0.26s ease;
}

.botao-enviar:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(146, 30, 30, 0.3);
}
